@import 'variables'
@import 'plugins'
@import 'media-queries'
@import 'mixins'
@import 'scrollbar'
@import 'navbar'
@import 'button'

/* General
*
    font-family: 'Roboto', sans-serif
    font-weight: $font-weight-regular
    
body
    background-color: $background-color
    margin: 0

a
    text-decoration: none

li
    list-style: none

button
    border-radius: 0
    border: none

/* Utilities
.primary-color
    color: $primary-color

.secondary-color
    color: $secondary-color

.light-color
    color: $light-color

.dark-color
    color: $dark-color

/* Main */
.main
    display: flex
    flex-direction: column

    @include tablet
        flex-direction: row
        align-items: center
        justify-content: space-between
        height: 75vh
        margin: 0 $medium-spacing   

    @include desktop
        margin: 0 100px            

    &-text
        width: 100%
        text-align: center
        margin-top: $large-spacing

        @include tablet
            width: 50% 
            margin: 0

        h2
            margin: 0

        h1
            font-weight: $font-weight-bold
            margin: $medium-spacing 0

        p
            margin: 0 $small-spacing $large-spacing

            @include tablet
                margin: 0 0 $large-spacing

    &-image 
        width: 100%
        text-align: center
        margin-top: $large-spacing

        @include tablet
            width: 50%
            margin: 0

        img
            width: 300px

            @include desktop
                width: 100%
           