@import 'variables'
@import 'plugins'
@import 'media-queries'
@import 'mixins'
@import 'navbar'

/* General
*
    font-family: 'Roboto', sans-serif
    font-weight: $font-weight-regular
    
body
    background-color: $background-color
    margin: 0

a
    text-decoration: none

li
    list-style: none

button
    border-radius: 0
    border: none

/* Utilities
.primary-color
    color: $primary-color

.secondary-color
    color: $secondary-color

.light-color
    color: $light-color

.dark-color
    color: $dark-color
